//- Base template
//- All other templates should extend from this

//- [injector:jade]
//- [endinjector]
- var users = [{username:"Andruxa", phone:347584376, age:20, school:70, height:185}, {username:"Mikhail", phone:347584376, age:21, school:66, height:180}, {username:"Sasha", phone:347584376, age:21, school:72, height:180}]
doctype html
<!--[if lte IE 8]><html class='lt-ie9 no-js' lang='en'><![endif]-->
<!--[if gt IE 8]><!--><html class=' no-js' lang='en'><!--<![endif]-->
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  title intro
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  // build:css(client) styles/global.css
  // bower:css
  link(rel='stylesheet', href='/bower_components/normalize.css/normalize.css')
  // endbower
  // endbuild
  link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
  link(rel='stylesheet', href='/styles/main.css')

  // build:js(client) scripts/modernizr.js
  script(src='/bower_components/modernizr/modernizr.js')
  // endbuild

  // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
  // build:js(client) scripts/shims.js
  <!--[if lt IE 9]>
  script(src='/bower_components/consolelog/consolelog.js')
  script(src='/bower_components/html5shiv/dist/html5shiv-printshiv.js')
  <![endif]-->
  // endbuild
body
  <!--[if lte IE 7]>
  <p class='browsehappy'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/''>upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  block layout
    block content
  // build:js(client) scripts/global.js
  // bower:js
  script(src='/bower_components/jquery/dist/jquery.js')
  script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
  // endbower
  // endbuild

  // build:js(client) scripts/main.js
  // [injector:js]
  // [endinjector]
  script(src='/scripts/main.js')
  // endbuild
