

extends ./layouts/base
block content
  .container
    table.table.table-striped.users
      thead
        th Имя
        th Телефон
        th Возвраст
        th Школа
        th Рост
      tbody
        each user in users
          tr.user
            td= user.username
            td= user.phone
            td= user.age
            td= user.school
            td= user.height
    button.btn.btn-success КНопка
    .text.text-blue Какой то очень длинный текст
    .text.text-red Какой то очень длинный текст

    .row
      .col-md-1
        img.img(src = "http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2013/1/11/1357921737290/Masterclass-in-HTML5-and--006.jpg")
      .col-md-2
        img.img(src = "http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2013/1/11/1357921737290/Masterclass-in-HTML5-and--006.jpg")
      .col-md-3
        img.img(src = "http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2013/1/11/1357921737290/Masterclass-in-HTML5-and--006.jpg")
      .col-md-4
        img.img(src = "http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2013/1/11/1357921737290/Masterclass-in-HTML5-and--006.jpg")
      .col-md-2
        img.img(src = "http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2013/1/11/1357921737290/Masterclass-in-HTML5-and--006.jpg")
    .row
      .col-md-4
        img.img(src = "http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2013/1/11/1357921737290/Masterclass-in-HTML5-and--006.jpg")
      .col-md-4
        img.img(src = "http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2013/1/11/1357921737290/Masterclass-in-HTML5-and--006.jpg")
      .col-md-4
        img.img(src = "http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2013/1/11/1357921737290/Masterclass-in-HTML5-and--006.jpg")

    button.btn.btn-primary.btn-lg(type='button', data-toggle='modal', data-target='.myModal')
      | Launch demo modal
    // Modal
    .myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#myModalLabel.modal-title Modal title
          .modal-body
            | Hello world
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='button') Save changes
